<h1>Недвижимость Солнечногорска</h1>





<% @objects_infos.each do |obj| %>
	
	<%= render "objects_infos/object_prew", obj:obj %>
	
<% end %>

<br />

<% if can? :create, ObjectsInfo %>
<span class="create_objects_new"><img src="http://cdn1.iconfinder.com/data/icons/basicset/plus_16.png"><%= link_to 'Создать новый объект', new_objects_info_path %></span>
<% end %>
	
<div class="page_number_block">
<%= paginate @objects_infos %>

</div>