<h1>Недвижимость Солнечногорска</h1>

<% @objects_infos.each do |obj| %>
	
	<%= render "objects_infos/object_prew", obj:obj %>
	
<% end %>

<br />

<%= link_to 'New Objects info', new_objects_info_path %>

	
<div class="page_number_block">
<%= paginate @objects_infos %>

</div>