<% content_for :title do %>Независимая оценка<% end %> 

<h1>Независимая оценка</h1>
<p>Регионом нашей деятельности является Солнечногорский район Московской области. Мы производим оценку на основании государственных стандартов, которые позволяют максимально реально отразить стоимость объекта. Агентство недвижимости готово помочь Вам в области оценки любых видов собственности. Наши специалисты проведут весь комплекс работ и подготовят все необходимые отчеты и нормативные документы.</p>
<p><b>Чтобы уточнить условия сотрудничества, звоните нам по телефону, и наши менеджеры ответять на все интересующие Вас вопросы.</b></p>
