<% content_for :title do %>Независимая оценка<% end %> 

<h1>Независимая оценка</h1>
<p>Регионом нашей деятельности является Московская область и Солнечногорск. Мы производим оценку на основании государственных стандартов, которые позволяют максимально реально отразить стоимость объекта. Агентство недвижимости готова помочь вам в области оценки любых видов собственности. Наши специалисты проведут весь комплекс работ и подготовить материалы, отчеты и нормативные документы.</p>
