<% content_for :title do %>Землеустройство<% end %> 

<h1>Землеустройство</h1>
<p>Понятие землеустройство включает в себя мероприятия по изучению состояния земель, планированию и организации рационального использования земель и их охраны, описанию местоположения и (или) установлению на местности границ объектов землеустройства, организации рационального использования гражданами и юридическими лицами земельных участков.</p>

<p><b>Землеустроительные работы имеют несколько видов:</b></p>
<ul>
<li>Подготовка документации для того, чтобы поставить земельный участок на учет, в государственный кадастровый орган;</li>
<li>Межевание землеустроительных объектов;</li>
<li>Землеустройство территориальное;</li>
<li>Земельная инвентаризация;</li>
<li>Планирование и организация качественного использования участков земли и их охрана;</li>
<li>Упорядочивание имеющихся и создание новых объектов землеустройства;</li>
<li>Оценка качества земельного участка;</li>
<li>Землеустройство внутрихозяйственное;</li>
<li>Ведение и создание документации по землеустройству;</li>
<li>Геоботанические, почвенные и другие обследования и изыскания.</li>
</ul>
