<% content_for :title do %>Юридические услуги<% end %> 
<h1>Юридические услуги</h1>

<p><b>1) Оформление и признание права собственности на жилье в новостройке.</b> Услуги в данной области довольно разнообразны: консультации юристов о способах борьбы с бездействием компаний-застройщиков и чиновников, оформление коллективных жалоб и обращений, запросы в различные органы, защита в суде, а также признание права собственности на жилье, место для автомобиля, нежилые помещения в домах, которые уже построены, взыскание через суд неустоек, а также прочая профессиональная помощь юристов.</p>
		
<p><b>2) Арбитражный суд.</b> Вопросы о признании недействительности сделок, изменении или расторжении договоров, взыскании задолженности по дебету и договорам поставки, перевозки, аренды, уступки прав, подряда, соинвестирования и множество других вопросов.</p>

<p><b>3) Юридическое сопровождение и обслуживание организаций.</b> Это целый ряд услуг, которые направлены на решение определенных юридических проблем, которые имеются в настоящее время и появляются на предприятии.</p>
		
		
<p><b>4) Юридические консультации.</b> Наша компания предоставляет консультационные услуги организациям и гражданам по всевозможным вопросам, связанным с недвижимым имуществом. Вы можете позвонить в наш офис, так же связаться по электронной почте, и при необходимости получить запись на консультацию.</p>

<p><b>5) Регистрация фирм в Солнечногорске и Московской области.</b> Наша компания также осуществляет полный спектр услуг по регистрации фирм различной формы собственности. Регистрация фирмы под ключ – востребованная услуга среди тех предпринимателей, у которых нет лишнего времени для ускоренной регистрации организации.</p>

<p><b>6) Представление интересов физических лиц в суде.</b> Наше агенство предлагает услуги юриста во всех судебных инстанциях. Помощь в судебном разбирательстве может быть предоставлена как комплексно, так и за отдельные услуги.</p>

<p><b>Чтобы уточнить условия сотрудничества, звоните нам по телефону, и наши менеджеры ответять на все интересующие Вас вопросы.</b></p>
