<% content_for :title do %>Юридические услуги<% end %> 
<h1>Юридические услуги</h1>

<p>1) Оформление и признание права собственности на жилье в новостройке. Услуги в данной области довольно разнообразны: консультации юристов о способах борьбы с бездействием компаний-застройщиков и чиновников, оформление коллективных жалоб и обращений, запросы в различные органы, защита в суде, а также признание права собственности на жилище, место для автомобиля, нежилые помещения в домах, которые уже построены, взыскание через суд неустоек, а также прочая профессиональная помощь юристов.</p>

<p>2) Арбитражный суд. Вопросы о признании недействительности сделок, изменении или расторжении договоров, взыскании задолженности по дебету и договорам поставки, перевозки, аренды, уступки прав, подряда, соинвестирования и множество других вопросов.</p>

<p>3) Юридическое сопровождение и обслуживание организаций. Это целый ряд услуг, которые направлены на решение определенных юридических проблем, которые имеются в настоящее время и появляются на предприятии.</p>

<p>4) Юридические консультации. Наша компания предоставляет услуги по устным и письменным консультациям организациям и гражданам по всевозможным вопросам. Вы можете позвонить в наш офис, так же связаться по электронной почте, и при необходимости получить запись на консультацию.</p>

<p>5) Регистрация фирм в Солнечногорске и Московской области. Наша компания также осуществляет полный спектр услуг по регистрации фирм различной формы собственности. Регистрация фирмы под ключ – востребованная услуга среди тех предпринимателей, у которых нет лишнего времени или оно достаточно мизерно для скорейшей регистрации организации.</p>

<p>6) Представление интересов физических лиц в суде. Наше агенство предлагает услуги юриста во всех судебных инстанциях. Помощь в судебном разбирательстве может быть предоставлена как комплексно, так и за отдельные услуги.</p>