<h1>Недвижимость Солнечногорска</h1>
<p>С момента своего основания «Альфа Плюс» специализируется на оказании полного комплекса услуг, связанных с покупкой или продажей любого объекта недвижимости независимо от форм собственности и функционального назначения.</p>

<p>Задавшись целью сформировать цивилизованные отношения на рынке недвижимости, и руководствуясь принципом прозрачности отношений с клиентами, за несколько лет работы «Альфа Плюс» сформировала надежную профессиональную команду специалистов, создала успешные технологии работы и проявила высокий уровень деловой активности. Профессионализм сотрудников агентства, большой опыт, глубокое знание отрасли и творческий подход даже к самой традиционной задаче помогут Вам преодолеть все трудности на пути к приобретению недвижимости. Агентство недвижимости «Альфа Плюс» является символом постоянства и устойчивости на рынке жилой недвижимости. Основная наша задача – помочь нашим клиентам продать, купить, арендовать, сдать в аренду максимально выгодно, быстро и безопасно.</p>
</p>В распоряжении нашего агентства большая база объектов недвижимости в Солнечногорском районе и в самом городе Солнечногорск. Для Вас огромный выбор жилой и коммерческой недвижимости - покупка/продажа и аренда. Вы всегда сможете выбрать земельный участок любых форм и размеров.</p>

<div class="object_bottom"></div>



<% @objects_info.each do |obj| %>
	
	<%= render "objects_infos/object_prew", obj:obj %>
	
<% end %>

<% if can? :create, ObjectsInfo %>
<span class="create_objects_new"><img src="http://cdn1.iconfinder.com/data/icons/basicset/plus_16.png"><%= link_to 'Создать новый объект', new_objects_info_path %></span>
<% end %>

<div class="page_number_block">
<%= paginate @objects_info %>

</div>