<% content_for :title do %>Отзывы<% end %> 
<h1>Отзывы</h1>

<p><b>Михаил Иванов:</b></br>
«Спасибо за быструю квалифицированную помощь в покупке и оформлении сделки с дачным участком.»</p>

      		   	
<p><b>Валентина Еремина:</b></br>
«Здравствуйте! Я продавала дом через эту компанию. До этого у меня был не удачный опыт эксклюзивного договора с одной известной крупной компанией. Очень рада, что меня нашла эта компания! Я быстро продала свой дом. Сотрудник - Павел, правильно собрал все документы и очень оперативно нашел покупателя.»</p>

      		   	
<p><b>Алексей Васильев:</b></br>
«Хочу порекомендовать агентство. На себе проверил, можно обращаться.»</p>

      		   	
<p><b>Николай Смирнов:</b></br>
«В конце февраля обратился в ССР Недвижимость на вернадке по вопросу расселения квартиры. Как оказалось, у них огромная база квартир по всем районам Москвы и Подмосковья. Учитывая моё финансовое положение, в течение 3-х дней мне предложили 4 разные варианта разъезда! Меня поразила оперативность всех действий.»</p>

<p><b>Михаил Иванов:</b></br>
«Спасибо за быструю квалифицированную помощь в покупке и оформлении сделки с дачным участком.»</p>

      		   	
<p><b>Валентина Еремина:</b></br>
«Здравствуйте! Я продавала дом через эту компанию. До этого у меня был не удачный опыт эксклюзивного договора с одной известной крупной компанией. Очень рада, что меня нашла эта компания! Я быстро продала свой дом. Сотрудник - Павел, правильно собрал все документы и очень оперативно нашел покупателя.»</p>