/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    margin: 0;
    padding: 0;
	background-color: #fbfbfb;    
}

img{
	border: 0;
}

span{
	border: 0;
	margin: 0;
	padding: 0;
}


a{
	text-decoration: none;
	color: #000;
}

h1{
	margin: 0;
	padding: 0;
}

h2{
	margin: 0;
	padding: 0;
}

h3{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: ÒFontNameÓ;
	src: url("./fonts/MyriadPro-Regular.otf");
	src: url("./fonts/MyriadPro-Bold.otf");
}

.top_wrapper{
	width: 100%;
	height: 520px;
	background-image:url('/img/black_top_texture.png');
	background-repeat:repeat;
	text-align: center;
}

.top_wrapper_assessment{
	width: 100%;
	height: 100%;
	background:url('/img/black_top_texture.png') repeat;
	text-align: center;
}

.footer_wrapper{
	clear: both;
	width: 100%;
	height: 53px;
	background-image:url('/img/footer_back.png');
	background-repeat:repeat-x;
	text-align: center;
}

.footer_wrapper_assessment{
	clear: both;
	width: 100%;
	height: 53px;
	background-image:url('/img/black_top_texture.png');
	background-repeat:repeat-x;
	text-align: center;
}

.footer_text{
	margin: 0 auto;
	width: 980px;
}

.page_number{
	color: #256aae;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 15px;
	text-decoration: underline;
	margin-right: 15px;
	font-weight: bold;
}

.btn-group > input {
    margin-left:-999em;
}

.btn-group input:first-child + .btn {
     /* This is an actual copy/paste of the .btn-group .btn:first-child style */
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

input:checked + label.btn {
    /* This is an actual copy/paste of the .btn:active style */
    background-image: none;
    background-color: #0055cc;
    *background-color: #004ab3;
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    outline: 0 none;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    outline: 0 none;
}

input[disabled] + label.btn {
    /* This is an actual copy/paste of the .btn:disabled style */
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}

.clicked_page_number{
	margin-right: 15px;
	color: #fff;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 15px;
	text-decoration: none;
	background:url('/img/page_num_ico.png');
	width: 25px;
	height: 25px;
	font-weight: bold;
	padding: 5px 8px 4px 9px;
	-moz-text-shadow: 0px 2px 0px #0a1f35;
	-webkit-text-shadow: 0px 2px 0px #0a1f35;
	text-shadow: 0px 2px 0px #0a1f35;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#0a1f35')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#0a1f35');
}

.page_number_block{
	margin-bottom: 25px;
	margin-top: 10px;
}

.page_number_block .current{
	margin-right: 15px;
	color: #fff;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
	text-decoration: none;
	background:url('/img/page_num_ico.png') no-repeat;
	width: 30px;
	height: 25px;
	font-weight: bold;
	padding: 6px 8px 5px 9px;
	-moz-text-shadow: 0px 2px 0px #0a1f35;
	-webkit-text-shadow: 0px 2px 0px #0a1f35;
	text-shadow: 0px 2px 0px #0a1f35;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#0a1f35')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#0a1f35');
}

.page a{
	color: #256aae;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 15px;
	text-decoration: underline;
	font-weight: bold;
	margin-right: 5px;
}

.first a{
	color: #256aae;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 12px;
	text-decoration: underline;
	font-weight: bold;
}

.create_objects_new{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 18px;
	text-decoration: underline;
}

.create_objects_new img{
	padding-right: 5px;
}

.prev a{
	color: #256aae;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 13px;
	text-decoration: underline;
	font-weight: bold;
	margin-right: 10px;
}

.next a{
	color: #256aae;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 13px;
	margin-left: 5px;
	text-decoration: underline;
	font-weight: bold;
}

.last a{
	color: #256aae;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 12px;
	text-decoration: underline;
	font-weight: bold;
}


.left_footer{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
	color: #fff;
	float: left;
	-moz-text-shadow: 0px 2px 0px #1f1f1f;
	-webkit-text-shadow: 0px 2px 0px #1f1f1f;
	text-shadow: 0px 2px 0px #1f1f1f;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#1f1f1f')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#1f1f1f');
	text-align: left;
	margin-top: 22px;
}

.right_footer{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
	color: #fff;
	float: right;
	-moz-text-shadow: 0px 2px 0px #1f1f1f;
	-webkit-text-shadow: 0px 2px 0px #1f1f1f;
	text-shadow: 0px 2px 0px #1f1f1f;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#1f1f1f')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#1f1f1f');
	text-align: right;
	margin-top: 22px;
}

.main_wrapper{
	width: 100%;
}

.main_page_wrapper{
	width: 980px;
	text-align: center;
	margin: 0 auto;
}

.main_page_left{
	float: left;
	text-align: left;
	width: 660px;
	margin-top: 27px;
}

.assessment_main_left{
	float: left;
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom: 5px;
	text-align: left;
	width: 640px;
}

.assessment_main_left h1{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 20px;
	color: #0f0f0f;
}

.assessment_main_left p{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
	color: #0f0f0f;
}

.main_page_left h1{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 20px;
	color: #0f0f0f;
}

.main_page_left p{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
	color: #0f0f0f;
}

.main_page_right p{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
	color: #0f0f0f;
}

.assessment_main_page_right p{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
	color: #0f0f0f;
}

.main_page_left p a{
	color: #1f5a95;
	text-decoration: underline;
}

.refresh_cooment_a a{
	text-decoration: none;
	color: #1f5a95;
	border-bottom: 1px #1f5a95 dotted;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
}

.refresh_cooment_a a:hover{
	color: #b61a1a;
	border-bottom: 1px #b61a1a dotted;
}

.img_map_ico{
	float: left;
	margin-right: 12px;
	margin-bottom: 30px;
}

.all_cooment_a a{
	text-decoration: underline;
	color: #1f5a95;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
}

.all_cooment_a a:hover{
	color: #b61a1a;
}

.object_list{
	margin-top: 15px;
	clear: both;
	height: 135px;
	padding-bottom: 15px;
}

.contacts_p p{
	font-size: 16px;
}

.show_map{
	color: #1f5a95;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
}

.show_map a{
	color: #1f5a95;	
	text-decoration: underline;
}

.show_map a:hover{
	color: #b61a1a;	
}

.object_bottom{
	background: url(/img/line_sep.png) no-repeat;
	height: 2px;
	width: 640px;
}

.object_list img{
	float: left;
	margin-right: 15px;
}

.object_list h3 a{
	color: #1f5a95;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 18px;
	text-decoration: underline;
}

.object_list h3 a:hover{
	color: #b61a1a;
}

.price_block{
	color: #0f0f0f;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 22px;
	float: left;
}

.know_more_button_sprite{
	width: 125px;
	height: 30px;
	background: transparent url(/img/know_more_button_sprite.png) no-repeat;
	margin-left: 20px;
	float: left;
}

.know_more_button_sprite:hover{
	background: transparent url(/img/know_more_button_sprite.png) 0px -30px no-repeat;
}

.show_map:hover{
	color: #b61a1a;
}


.main_page_left p a:hover{
	color: #b61a1a;
}

.main_page_right h2{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 20px;
	color: #0f0f0f;
}

.assessment_main_page_right h2{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 20px;
	color: #0f0f0f;
	margin-top: 5px;
}

.main_page_left h2{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 20px;
	color: #0f0f0f;
	margin-top: 36px;
}

.second_right_h{
	margin-top: 26px;
}

.big_text_p{
	font-size: 16px;
}

.main_page_right{
	float: left;
	text-align: left;
	width: 290px;
	padding-left: 24px;
	margin-top: 27px;
}

.assessment_main_page_right{
	float: left;
	text-align: left;
	width: 290px;
	padding-left: 24px;
}

.top_block_wrapper{
	width: 980px;
	margin: 0 auto;
	background-image: url('/img/top_light.png');
	height: 48px;
	padding-top: 37px;
}

.logo_block{
	background-color: #fff;
	height: 75px;
}

.menu_wrapper{
	width: 1000px;
	margin: 0 auto;
}

.left_menu_im{
	margin-top: 27px;
	background-image: url(/img/menu_left_block.png);
	height: 54px;
	width: 10px;
	float: left;
}

.menu_im{
	margin-top: 27px;
	background-image: url(/img/menu_block.png);
	height: 54px;
	width: 980px;
	float: left;
	text-align: left;
}

.menu_im_wrap{
	margin-top: 13px;
	margin-left: 2px;
}

.menu_im_wrap a{
	height: 37px;
	font-family: Myriad Pro, Arial, Helvetica;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	padding-left: 12px;
	padding-right: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
	-moz-text-shadow: 0px 2px 0px #082543;
	-webkit-text-shadow: 0px 2px 0px #082543;
	text-shadow: 0px 2px 0px #082543;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#082543')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#082543');
	background-image: url('/img/separator.png'); 
	background-repeat: no-repeat; 
  	background-position: right;
}

.menu_im_wrap a:hover{
	-moz-text-shadow: 2px 0px 0px #082543;
	-webkit-text-shadow: 2px 0px 0px #082543;
	text-shadow: 2px 0px 0px #082543;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#082543')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#082543');
}

.right_menu_im{
	margin-top: 27px;
	background-image: url(/img/menu_right_block.png);
	height: 54px;
	width: 10px;
	float: left;
}

.white_grad_block{
	margin: 0 auto;
	background-image: url(/img/white_grad_block.png);
	width: 980px;
	height: 335px;
	margin-top: 80px;
}

.white_grad_block_assessment{
	margin: 0 auto;
	width: 980px;
	height: 100%;
	margin-top: 60px;
	background-color: #fdfdfd;
}

.assessment_main_left ul li {
    color: #0F0F0F;
    font-family: Myriad Pro,Arial,Helvetica;
    font-size: 14px;
}

.white_block_shadow{
	margin: 0 auto;
	background-image: url(/img/white_block_grad_shadow.png);
	width: 1000px;
	height: 14px;
}

.black_bottom_shadow{
	background-image: url(/img/bottom_black_bottom.png);
	width: 100%;
	height: 16px;
}

.slider_block{
	text-align: left;
	float: left;
}

mark{
	background-color: #000;
	color: #fff;
	padding: 3px 8px 4px 8px;
}

.inner_text_slider{
	position: absolute;
	margin-top: 15px;
	margin-left: 12px;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 19px;
}

.adv_search{
	text-align: left;
	float: left;
	width: 290px;
	padding-left: 14px;
	margin-top: 6px;
}

.adv_search h3{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 18px;
	color: #616161;
	font-weight: normal;
}

.adv_search p{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 14px;
	color: #616161;
	margin-top: 10px;
}

.inner_text_slider_second{
	position: absolute;
	margin-top: 68px;
	margin-left: 12px;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 19px;
	width: 640px;
}

.inner_text_slider_big{
	position: absolute;
	margin-top: 106px;
	margin-left: 12px;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 28px;
}

.inner_text_slider_big_first{
	position: absolute;
	margin-top: 15px;
	margin-left: 12px;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 28px;
}

.slider_but{
	position: absolute;
	margin-top: 275px;
	margin-left: 490px;
}

.logo_img{
	width: 673px;
	float: left;
	display: block;
	text-align: left;
}

.tel_block{
	float: left;
	width: 279px;
	margin-left: 14px;
	text-align: left;
	padding-bottom: -10px;
	position: absolute;
	margin-top: 15px;
	margin-left: 687px;
}

.tel_block p{
	border: 0;
	margin: 0;
	padding: 0;
}

.red_tel{
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 22px;
	color: #be1e1e;
	font-weight: bold;
}

.blue_days{
	color: #15528f;
	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 16px;
	font-weight:  bold;
}

.search_button_block {
	margin-top: 10px;
	width: 300px;
}

.search_button_block a{
	float: left;
}

.second_h3_search{
	padding-top: 25px;
	margin-bottom: 5px;
}

.third_h3_search{
	padding-top: 20px;
}

.search_button_1{
	cursor: pointer;
	width: 85px;
	height: 32px;
	background: transparent url(/img/search_but_1_sprite.png) no-repeat;
}

.search_button_1:active{
	background: transparent url(/img/search_but_1_sprite.png) 0px -32px no-repeat;
}

.search_button_2{
	cursor: pointer;
	width: 44px;
	height: 32px;
	background: transparent url(/img/search_but_2_sprite.png) no-repeat;
}

.search_button_2:active{
	background: transparent url(/img/search_but_2_sprite.png) 0px -32px no-repeat;
}

.search_button_3{
	cursor: pointer;
	width: 69px;
	height: 32px;
	background: transparent url(/img/search_but_3_sprite.png) no-repeat;
}

.search_button_3:active{
	background: transparent url(/img/search_but_3_sprite.png) 0px -32px no-repeat;
}

.search_button_4{
	cursor: pointer;
	width: 82px;
	height: 32px;
	background: transparent url(/img/search_but_4_sprite.png) no-repeat;
}

.search_button_4:active{
	background: transparent url(/img/search_but_4_sprite.png) 0px -32px no-repeat;
}

.main_but_search{
	width: 106px;
	height: 35px;
	background: transparent url(/img/search_main_but_sprite.png) no-repeat;
	margin-left: 80px;
	margin-top: 30px;
	cursor: pointer;
	text-shadow: none;
}

.main_but_search:hover{
	background: transparent url(/img/search_main_but_sprite.png) 0px -35px no-repeat;
}

.similar_objects{
	margin-top: 10px;
	float: left;
	margin-right: 20px;
}

.similar_objects p{
	width: 135px;
}

/*
    Slider Pagination
*/
#slider {
	margin: 0 left;
	margin-left: 14px;
	padding-top: 5px;
	position:relative;
	border:0px solid #f2f2f2;
	width: 659px;
	height: 317px;
    z-index:100;
}

#slider .pagination {
    width:100px;
    position:absolute;
    bottom:-5px;
    left: -24px;
    z-index:100;
}

#slider .pagination li {
    float:left;
    margin:0 5px 0 0;
    list-style:none;
}

#slider .pagination li a {
    display:block;
    width:16px;
    height:0;
    padding-top:16px;
    background-image:url(/img/slider-pagination.png);
    background-position:0 0;
    float:left;
    overflow:hidden;
}

#slider .pagination li.current a {
    background-position:0 -16px;
}
/**/

/*bootstrap*/
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 10px 9px 8px 9px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #2e2e2e;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #acacac;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   	font-family: Myriad Pro, Arial, Helvetica;
	font-size: 15px;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn-large [class^="icon-"] {
  margin-top: 1px;
}

.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}

.btn-small [class^="icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: #fff;
}

.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}

.btn-warning {
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-group {
  position: relative;
  *margin-left: .3em;
  *zoom: 1;
  margin-top: 6px;
}

.btn-group:before,
.btn-group:after {
  display: table;
  content: "";
}

.btn-group:after {
  clear: both;
}

.btn-group:first-child {
  *margin-left: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}

.btn-toolbar {
  margin-top: 9px;
  margin-bottom: 9px;
}

.btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.btn-group > .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group > .dropdown-toggle {
  *padding-top: 4px;
  padding-right: 8px;
  *padding-bottom: 4px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group > .btn-mini.dropdown-toggle {
  padding-right: 5px;
  padding-left: 5px;
}

.btn-group > .btn-small.dropdown-toggle {
  *padding-top: 4px;
  *padding-bottom: 4px;
}

.btn-group > .btn-large.dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0055cc;
}

.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}

.btn .caret {
  margin-top: 7px;
  margin-left: 0;
}

.btn:hover .caret,
.open.btn-group .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-mini .caret {
  margin-top: 5px;
}

.btn-small .caret {
  margin-top: 6px;
}

.btn-large .caret {
  margin-top: 6px;
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.dropup .btn-large .caret {
  border-top: 0;
  border-bottom: 5px solid #000000;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
/**/
